<!--Contact Data-->
<div class="card">

    <ul>

        <!--Name-->
        <li>{{contact.firstName}} {{contact.lastName}}</li>

        <!--Phone Number-->
        <li>{{contact.phone}}</li>

        <!--Email-->
        <li>{{contact.email}}</li>

    </ul>

</div>


<!--Return to Homepage-->
<a href="/contacts">Return Home</a>