<!--Title-->
<header class="modal-header">

<h2>Contacts List</h2>

</header>


<!--Contacts List-->
<div class="card">
<ul>

{{#each contactsArray}}


<li>

    
    <a href="/contacts/{{id}}">

        {{firstName}} {{lastName}}

    </a>
    
</li>


{{email}}


{{/each}}

</ul>
</div>